body {
 background-image:url(background.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}

p {
  color: white;
}

h1 {
  font-family: 'Gill Sans';
  float: top;
  margin-top: 10%;
  color: white;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-family: 'Arial';
  margin-top:100px;
  margin-left: 15%;
  color: white;
}

h3 {
  color: white;
}

#content {
  font-family: 'Arial';
  color: white;
  margin-left: 15%;
}
/*
#ingredients {
  display: inline-block;
  color: white;
}
*/
#inText {
  display: block;
  margin: 0px auto;
  font-size: 40px;
  height: 80px;
  width: 70%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#addButton {
  display: block;
  margin: 10px 0px 0px 0px;
  float: left;
  text-align: center;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
}

#clearButton {
  display: block;
  margin: 10px 5px 0px 15%;
  float: left;
  text-align: center;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
}

#Submit {
  display: block;
  margin: 10px 15% 0px 0px;
  float: right;
  text-align: center;
  background-color: #cc0000;
  border: none;
  color: white;
  padding: 15px 70px;
  font-size: 16px;
}
